{% extends 'AppBundle:Shared:layout.html.twig' %}
{% block title %}Корзина{% endblock %}

{% block body %}
<h2>
    Ваша корзина
</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Игра</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td class="text-center">{{game.quantity}}</td>
                <td class="text-left">{{game.game.title}}</td>
                <td class="text-right">{{game.game.price}} руб</td>
                <td class="text-center">{{game.game.price * game.quantity}} руб</td>
                <td>
                    <form  action="{{path('_remove_from_cart')}}" method="POST">
                        <input type="hidden" name="gameId" value="{{game.game.id}}"/>
                        <input type="submit" class="btn btn-sm btn-warning" value="Удалить"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                {{total}} руб
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="{{returnUrl}}">Продолжить покупки</a>
    <a href="{{path('_checkout')}}" class="btn btn-primary">Оформить заказ</a>
</div>

{% endblock %}